Documentation/
*.obj
*.log
*.pdb
*.idb
Build/vs2010/_ReSharper.Evolution/
*.tlog
*.lastbuildstate
Build/vs2010/Release/MountainRidingWorld.sav
*.exe
*.suo
*.user
Build/PolyCars/MountainRidingWorld.sav
*.ilk
Build/PolyCars/WheelerExport.sav
Build/vs2010/Release/WheelerExport.sav
*.sav
Build/vs2010/bin/Debug/Box2D.lib
Build/vs2010/bin/Debug/FreeGLUT.lib
Build/vs2010/bin/Debug/GLUI.lib
Build/vs2010/bin/Release/Box2D.lib
Build/vs2010/bin/Release/FreeGLUT.lib
Build/vs2010/bin/Release/GLUI.lib
*.unsuccessfulbuild
