Documentation/
*.obj
*.lib
*.log
*.pdb
*.idb
Build/vs2010/_ReSharper.Evolution/
*.tlog
*.lastbuildstate
Build/vs2010/Release/MountainRidingWorld.sav
*.exe
*.suo
*.user
Build/PolyCars/MountainRidingWorld.sav
